.app__input{
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

input{
    padding: 1rem;
    width: 70%;
    margin: 1rem 0rem 1rem 0rem;
}
input:hover{
    background: #f7fbff;
    transition: all 0.3 ease-in-out;
}

.app__input-button{
    padding: .5rem .5rem;
    width: 20%;
    background: var(--accent-color);
    color: #fff;
    text-align: center;
    text-decoration: none;
}
.app__input-button:hover{
    background: #56a4f7;
    transition: all 0.3 ease-in-out;
}
input, .app__input-button{
    border: none;
    outline: none;
    border-radius: .3rem;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    input{
        width: 60%;
        margin-top: 2rem;
    }
    .app__input-button{
        width:15%
    }
}