.app__header {
  width: 100%;
  height: 300px;
  background: url("../../assets//weather-header.png") no-repeat center
    center/cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  padding-bottom: 1rem;
}
h1 {
  font-size: 3rem;
  color: var(--accent-color);
  text-shadow: 2px 2px #faf84f;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .app__header {
    margin-top: 50px;
  }
}
