@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root{
    --primary-color : #D3E4FA;
    --secondary-color: #021430;
    --accent-color: #4D99E9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: var(--primary-color);
  font-family: 'Poppins', sans-serif;
}

.app__flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app__flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
