@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --primary-color: #d3e4fa;
  --secondary-color: #021430;
  --accent-color: #4d99e9;
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
}
::-webkit-scrollbar-track {
  color: #fff;
}
::-webkit-scrollbar-thumb {
  color: #ccc;
}

body {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;

  /* border: 5px solid blue; */
}

.app__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

